[
  {'infotech-test-task', []},
  {n2o, [{port, 8080},
    {igor,"deps/n2o/src/protos"},
    {app,sample},
    {upload,"./priv/static/"},
    {routes,routes},
    {mq,n2o_syn},
    {formatter,n2o_bert},
    {protocols,[n2o_heart,nitro_n2o,n2o_ftp]},
    {session,n2o_session},
    {origin,<<"*">>},
    {pickler,n2o_secret},
    {event,pickle}]}
].
